@model UpdateProductVM

<div class="container">




    <form method="post">
        <div class="form-group">

            <label asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name" placeholder="Enter Name">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
        <div class="form-group">

            <label asp-for="Price">Price</label>
            <input type="number" min="0" step="0.01" class="form-control" asp-for="Price" placeholder="Enter Price">
            <span asp-validation-for="Price" style="color:red"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId">Category select</label>
            <select class="form-control" asp-for="CategoryId" asp-items=@(new SelectList(ViewBag.Categories,"Id","Name"))>
                <option>Select Category</option>


            </select>
        </div>
        <div class="form-group">
            <label asp-for="TagIds">Tag select</label>
            <select class="form-control" asp-for="TagIds" asp-items=@(new SelectList(ViewBag.Tags,"Id","Name"))>
                <option>Select Tag</option>


            </select>
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea class="form-control" asp-for="Description" rows="3"></textarea>
            <span asp-validation-for="Description" style="color:red"></span>
        </div>




        <button type="submit" class="btn btn-primary">Submit</button>
    </form>






</div>
